.title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.input-area {
  text-align: center;
}

.input-label {
  font-size: 14px;
}

.list-header {
  font-size: 20px;
}

.list-table {
  display: inline-block;
  margin: 5px;
}

.list-entry {
  padding-bottom: 8px;
}

.list-title {
  font-size: 12px;
  display: inline;
}

.list-count {
  font-size: 8px;
}
