<!doctype html>
<html>
  <head>
    <title>Sinatra</title>
    <link rel="stylesheet" type="text/css" href="/style/base.css">
    <link rel="stylesheet" type="text/css" href="/style/index.css">
  </head>
  <body>
    <form method="get">
      <input type="text" name="list_name"></input>
    </form>
    <% @lists.each do |l| %>
      <p><%= l["title"] %> <%= l["count"] %>
      </p>
    <% end %>
  </body>
</html>
